body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg, #f5f7fa, #e4ebf5);
    text-align: center;
}

h1 {
   font-size: 48px;
   color: #1f3a8a;
   margin-bottom: 10px;
   text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

p {
    color: #333;
    font-size: 18px;
}

.projetos {
    margin-top: 60px;
    padding: 30px;
    background-color: white;
    width: 80%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}